*{
    margin: 0;
    padding: 0;
}

body.light-mode {
  
    color: black;
    transition: background-color 0.4s, color 0.4s;
}
  
body.dark-mode {
    background-color: #292828;
    color: white;
    transition: background-color 0.4s, color 0.4s;
    
    .navbar {
    background-color: black;
    border: 1px solid #555;
    color: white;
    }
    .menu li a {
      color: white;
    }

    .dropdown-content {
      background-color: #383636c4;
      border-radius: 7px;
    } 

    .dropdown-content a {
      color: #49a8e8;
    }

    .dropdown-content a:hover {
      background-color: #f4f4f4ce;
    }

    .dropdown button svg { 
      width: 30px; 
      height: auto; 
      color: #49a8e8;
  }
}

.search-bar {
    position:fixed;
    margin-top: 70px;
    margin-bottom: 40px;
    left: 487px;
    background-image: url('https://icons.veryicon.com/png/o/miscellaneous/prototyping-tool/search-bar-01.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 300px;
    padding: 8px 35px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 100px;
    filter: drop-shadow(0px 0px 40px rgba(34, 97, 207, 0.5));
}

.social-media a {
    margin: 0 10px;
    color: #333;
}

.social-media img {
    width: 30px;
    height: 30px;
}

img {
  width: 90%;
  margin-top: 1rem;
  border-radius: 10px;
}

.foto-katalog {
  columns: 300px;
}

.footer { 
  background-color: #333; 
  color: #fff;
  border-radius: 5px;   
} 

.footer .contact-info { 
  margin-left: 405px; 
  position: relative;
  bottom: 35px;
}

.foto-sekolah {
  position: relative;
  right: 100px;
  top: 70px;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

.footer { 
  background-color: #333; 
  color: white;
  padding: 20px; 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-between; 
  text-align: center; 
  position: relative;
} 

.footer .logo-footer { 
  flex: 1 1 100px; /* Adjust based on logo size */ 
  text-align: end; 
} 

.footer .logo-footer img { 
  width: 100px; /* Adjust as needed */ 
  height: auto; 
} 
  
.footer .info-footer { 
  flex: 5; 
  margin: 10px 0; 
} 

.footer .info-footer p { 
  margin: 5px 0; 
} 

@media (max-width: 600px) { 
  .footer { 
      flex-direction: column; 
      text-align: center; 
  } 
  
  .footer .logo-footer, .footer .info-footer { 
      text-align: center; 
      flex: 1 1 100%; 
  } 
}

@media (max-width: 365.32px) {
    .navbar-right {
        position: absolute;
        right: 28px;
    }
}

@media (max-width: 631px) {
    .foto-katalog img {
        width: 85%;
        margin-left: 40px;
        margin-top: 1rem;
    }
}

@media (max-width: 330px) {
    .foto-katalog img {
        margin-left: 20px;
    }
}
